{% extends 'myapp/base.html' %}

{% block title %} เกี่ยวกับเรา {% endblock title %}

{% block content %}

<h1>ติดต่อเรา</h1>
<p>สวัสดีครับ</p>

<br>
{% if alert == 'success' %}
    <div class="alert alert-success">
      <strong>สำเร็จ!</strong> ได้รับข้อมูลเรียบร้อยแล้ว ทางแอดมินจะติดต่อกลับโดยเร็วที่สุด
    </div>
{% endif %}
<br>

<div class="container">
  <form method="post">

    {% csrf_token % %}


    <div class="form-group">
      <label for="name">ชื่อผู้ติดต่อ</label>
      <input type="text" class="form-control" id="name"  name="name">
    </div><br>
    <div class="form-group">
      <label for="title">หัวข้อ</label>
      <input type="text" class="form-control" id="title"  name="title">
    </div><br>

    <div class="form-group">
      <label for="detail">รายละเอียด</label>
    <textarea class="form-control" rows="5" id="comment" name="text"></textarea>
    </div><br>

    <div class="form-group">
      <label for="email">อีเมล</label>
      <input type="email" class="form-control" id="email"  name="email">
    </div><br>

    <button type="submit" class="btn btn-primary">Submit</button>
   

  </form>
</div>

<div class="container">
{% for staff in namelist %}


  <h1>- {{staff.name}}({{staff.tel}}) Email: {{staff.email}}</h1>


{% endfor %}
</div>

<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="https://getbootstrap.com/docs/5.3/examples/heroes/bootstrap-themes.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Responsive left-aligned hero with image</h1>
        <p class="lead">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Primary</button>
          <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>
        </div>
      </div>
    </div>
  </div>


{% endblock content %}